 PART-1
 The dataset used for this assignment is called Entertainment Usage Dataset. It was downloaded as a CSV file from the KAGGELE generated dataset link. The dataset belongs to the Entertainment domain because it shows how people spend time on Netflix, social media, music, and gaming.

Each row in the dataset represents one user and their daily entertainment habits, such as screen time, device used, and subscription type.

The column user_id uniquely identifies each user. The column age shows how old the user is. The column gender tells whether the user is male or female. The column netflix_hours shows how many hours the user watches Netflix per day. The column social_media_hours shows the daily time spent on social media. The column daily_screen_time shows the total screen time used by the person in a day.

Two problems that may exist in this dataset are missing values in some columns and inconsistent text formatting such as extra spaces or different letter cases.

Data Frame is representing data in the form of a table(rows1000 X Columns10)

PART-2
 Import + Quick Audit (Show Outputs)
Run and show output for:
df.shape
df.head()
df.info()
Missing values: df.isna().sum().sort_values(ascending=False)
Duplicate rows count

In [8]:
#1.Import Dataset
# Running multiple times will reset data
import pandas as pd       #Importing the library as pd
df=pd.read_csv(r"C:\Users\sharanabasava\OneDrive\Desktop\AL&ML PYTHON CLSS ALL\entertainment_dataset_1000x10.csv")    #Storing the file data into df
df

,user_id,age,gender,netflix_hours,social_media_hours,music_hours,gaming_hours,subscription_type,device_type,daily_screen_time
0,U1,27,Female,2.3,6.5,4.2,3.6,Free,Laptop,10.1
1,U2,30,Male,4.0,1.9,1.2,1.4,Free,TV,5.6
2,U3,36,Female,2.0,1.2,3.9,2.5,Free,Mobile,6.0
3,U4,15,Male,5.7,5.2,3.5,0.7,Free,Laptop,8.7
4,U5,18,Female,4.5,1.8,4.5,3.2,Premium,Laptop,12.1
...,...,...,...,...,...,...,...,...,...,...
995,U996,20,Male,4.0,0.8,1.1,3.0,Free,Mobile,12.7
996,U997,24,Female,2.5,1.5,3.8,3.7,Premium,Mobile,2.1
997,U998,32,Male,1.1,1.6,1.9,0.4,Free,TV,11.3
998,U999,31,Male,4.8,3.0,1.6,2.2,Free,Laptop,11.4
999,U1000,31,Female,4.4,5.4,4.3,1.8,Premium,Mobile,6.7

In [9]:
#  Preview Data
df.head(1)     #top n values

,user_id,age,gender,netflix_hours,social_media_hours,music_hours,gaming_hours,subscription_type,device_type,daily_screen_time
0,U1,27,Female,2.3,6.5,4.2,3.6,Free,Laptop,10.1

In [10]:
#Dataset Shape 
df.shape    #Rows and columns

(1000, 10)

In [11]:
#Dataset Information
df.info    # sample data for quality

<bound method DataFrame.info of     user_id  age  gender  netflix_hours  social_media_hours  music_hours  \
0        U1   27  Female            2.3                 6.5          4.2
1        U2   30    Male            4.0                 1.9          1.2
2        U3   36  Female            2.0                 1.2          3.9
3        U4   15    Male            5.7                 5.2          3.5
4        U5   18  Female            4.5                 1.8          4.5
..      ...  ...     ...            ...                 ...          ...
995    U996   20    Male            4.0                 0.8          1.1
996    U997   24  Female            2.5                 1.5          3.8
997    U998   32    Male            1.1                 1.6          1.9
998    U999   31    Male            4.8                 3.0          1.6
999   U1000   31  Female            4.4                 5.4          4.3

     gaming_hours subscription_type device_type  daily_screen_time
0             3.6              Free      Laptop               10.1
1             1.4              Free          TV                5.6
2             2.5              Free      Mobile                6.0
3             0.7              Free      Laptop                8.7
4             3.2           Premium      Laptop               12.1
..            ...               ...         ...                ...
995           3.0              Free      Mobile               12.7
996           3.7           Premium      Mobile                2.1
997           0.4              Free          TV               11.3
998           2.2              Free      Laptop               11.4
999           1.8           Premium      Mobile                6.7

[1000 rows x 10 columns]>

In [10]:
# Missing values
df.isna().sum().sort_values(ascending=False)

user_id               0
age                   0
gender                0
netflix_hours         0
social_media_hours    0
music_hours           0
gaming_hours          0
subscription_type     0
device_type           0
daily_screen_time     0
dtype: int64

Part 3: 
.Cleaning Work (Minimum 6 actions)
You must perform at least 6 cleaning actions, including these mandatory 3:
Fix at least 1 datatype (example: date to datetime, numeric conversion)
Handle missing values using at least 2 different methods
(example: median for numeric, mode for categorical, “Unknown” for text)
Clean text columns using .str.strip() + consistent casing (lower() / title())
Choose any 3 additional actions:
Remove duplicates
Replace inconsistent values using mapping (example: Blr/Bangalore/Bengaluru → Bengaluru)
Rename columns (clean naming)
Drop irrelevant columns (with reason)
Simple outlier filtering (basic and justified)
* Show missing values before and after cleaning.

In [12]:
df.isna().sum().sort_values(ascending=False)

user_id               0
age                   0
gender                0
netflix_hours         0
social_media_hours    0
music_hours           0
gaming_hours          0
subscription_type     0
device_type           0
daily_screen_time     0
dtype: int64

In [11]:
# Duplicate rows
df.duplicated().sum()

np.int64(0)

In [12]:
df.isna().sum()

user_id               0
age                   0
gender                0
netflix_hours         0
social_media_hours    0
music_hours           0
gaming_hours          0
subscription_type     0
device_type           0
daily_screen_time     0
dtype: int64

In [23]:
# 1️ Fix datatype (age to integer)
df['age'] = pd.to_numeric(df['age'], errors='coerce')

In [24]:
# 2️ Handle missing numeric values using median
df['daily_screen_time'] = df['daily_screen_time'].fillna(
    df['daily_screen_time'].median()
)

In [26]:
# 3️ Handle missing categorical values using mode
df['subscription_type'] = df['subscription_type'].fillna(
    df['subscription_type'].mode()[0])

In [27]:
# 4️ Clean text columns (strip + title case)
text_cols = ['gender','subscription_type','device_type']
for col in text_cols:
    df[col] = df[col].str.strip().str.title()

In [28]:
# 5️ Remove duplicate records
df = df.drop_duplicates()

In [29]:
# 6️ Rename columns for clarity
df = df.rename(columns={
    'daily_screen_time': 'total_screen_time'
})

In [31]:
# 7️ Simple outlier filtering (screen time > 16 hrs removed)
df = df[df['total_screen_time'] <= 16]

In [32]:
df.isna().sum()

user_id                      0
age                          0
gender                       0
netflix_hours                0
social_media_hours           0
music_hours                  0
gaming_hours                 0
subscription_type            0
device_type                  0
total_screen_time            0
entertainment_hours          0
heavy_user                   0
age_group                   43
total_entertainment_time     0
dtype: int64

Part 4: Create New Columns (Minimum 3)
Create at least 3 new columns using Pandas.
Examples:
Revenue/Total = price × quantity
Age group bucket using pd.cut()
Month/Year extracted from a date column
Flag column (High/Low) based on threshold
Category mapping using a dictionary
 At least 1 new column must be conditional (boolean logic).

In [18]:
# 1️ Total entertainment hours
df['total_entertainment_time'] = (
    df['netflix_hours'] +
    df['social_media_hours'] +
    df['music_hours'] +
    df['gaming_hours']
)

In [21]:
# 2 Heavy user flag (conditional column)
df['heavy_user'] = df['entertainment_hours'] > 6

In [22]:
# 3️ Age group category
df['age_group'] = pd.cut(
    df['age'],
    bins=[15,20,25,30,40],
    labels=['Teen','Young Adult','Adult','Senior']
)

In [33]:
df[['user_id','entertainment_hours','heavy_user','age_group']].head()

  user_id  entertainment_hours  heavy_user age_group
0      U1                 16.6        True     Adult
1      U2                  8.5        True     Adult
2      U3                  9.6        True    Senior
3      U4                 15.1        True       NaN
4      U5                 14.0        True      Teen

Part 5: Insights (Minimum 5)
Generate at least 5 insights using Pandas operations.
You must include all of these:
groupby().agg() (at least once)
sort_values() (at least once)
value_counts() (at least once)
pivot_table() OR crosstab() (at least once)
Filtering using boolean conditions (at least once)
* Write each insight as a clear sentence, like:

In [40]:
 #Average Entertainment Hours by Gender   (groupby().agg())

df.groupby('gender')['entertainment_hours'].agg(['mean','max','min'])

             mean   max  min
gender
Female  11.790291  20.4  3.1
Male    11.651959  18.4  3.4

In [41]:
#Top 10 Highest Entertainment User   (sort_values())
df.sort_values('entertainment_hours', ascending=False)[
    ['user_id','entertainment_hours']
].head(10)

    user_id  entertainment_hours
759    U760                 20.4
181    U182                 20.3
132    U133                 19.8
465    U466                 19.4
212    U213                 19.3
371    U372                 19.0
808    U809                 18.4
515    U516                 18.1
735    U736                 18.0
233    U234                 17.9

In [42]:
#Most Common Device Type    (value_counts())
df['device_type'].value_counts()

device_type
Mobile    343
Laptop    337
Tv        320
Name: count, dtype: int64

In [43]:
#Subscription Type vs Heavy Users   (crosstab())
pd.crosstab(df['subscription_type'], df['heavy_user'])

heavy_user         False  True
subscription_type
Free                  16    486
Premium               25    473

In [44]:
#Heavy Users Filtering (Boolean Filtering)
df[df['heavy_user'] == True][
    ['user_id','entertainment_hours','subscription_type']
].head()

  user_id  entertainment_hours subscription_type
0      U1                 16.6              Free
1      U2                  8.5              Free
2      U3                  9.6              Free
3      U4                 15.1              Free
4      U5                 14.0           Premium

PART-6
“Top 3 categories by total revenue are…”
“Region X has the highest average value…”
“Most frequent item/status is…”
Reminder
This is a Pandas workflow assignment — not ML, not visualization. Clean code + clear output + meaningful insights.

1 (groupby + agg)

Male and female users show different average entertainment hours, indicating variation in daily entertainment consumption patterns across genders.

2 (sort_values)

The top 10 users spend more than 9 hours per day on entertainment activities, indicating very high digital engagement among a small group of users.

3 (value_counts)

Mobile is the most frequently used device for entertainment consumption, followed by laptop and TV usage.

4 (crosstab / pivot)

Premium subscribers have a higher number of heavy entertainment users compared to free subscribers, indicating that paid users consume more content.

5 (Boolean filtering)

Users classified as heavy entertainment users generally spend more than 6 hours daily and are more likely to belong to the premium subscription category.